<h1><%= @post.title %></h1>

<div>
<%= @post.body %>
</div>
<br>
<%= link_to "Edit Post", edit_post_path(@post) %> &nbsp &nbsp
<%= link_to "Delete Post", post_path(@post), method: :delete, data: {confirm: "Are you sure?"} %> &nbsp &nbsp
<%= link_to "Return to Dashboard", root_path(@post) %>
